<section> 
    <div class="landingpage_content">
        <div class="content_left">
            <img src="./../../assets/svg/deco_elements/arrow_down_frame.svg" alt="">
            <!-- <img src="./../../assets/svg/deco_elements/small_arrow_down.svg" alt=""> -->
            <div class="left_stripe">
                
            </div>
        </div>
        <h2>Frontend Developer</h2> 
        <h1>Dominik Marnet</h1>
        <div class="landingpage_btns">
            <a href=""><img src="./../../assets/svg/nav/btn/big_button_frame.svg" alt=""></a>
            <a href=""><img src="./../../assets/svg/nav/btn/big_button_frame.svg" alt=""></a>
        </div>
        <div class="content_right">
            <a class="landingpage_email_link" href="mailto:dominikmarnet@hotmail.com">dominikmarnet&#64;hotmail.com</a>
            <a href=""><img src="./../../assets/svg/social_connections/github.svg" alt=""></a>
            <a href=""><img src="./../../assets/svg/social_connections/linkedIn.svg" alt=""></a>
           
            

            <div class="right_stripe">

            </div>
        </div>
    </div>
    <div class="infinite_scroller">
        
    </div>
</section>