<section> 
    <div class="landingpage_content">
        <div class="content_left">
            <img src="./../../assets/svg/about_me/arrow_frame_test.svg" alt="">
            <img class="arrow_down" src="./../../assets/svg/about_me/arrow_down.svg" alt="">
            <!-- <img src="./../../assets/svg/deco_elements/small_arrow_down.svg" alt=""> -->
            <div class="left_stripe"></div>
        </div>
        <h2>Frontend Developer</h2> 
        <h1>Dominik Marnet</h1>
        <div class="landingpage_btns">
            <a class="projects_link" href="">Check my work</a>
            <a class="contact_link" href="">Contact me</a>
            <!-- <a href=""><img src="./../../assets/svg/nav/btn/big_button_frame.svg" alt=""></a>
            <p class="btn_text_projects">Check my work</p>
            <a href=""><img src="./../../assets/svg/nav/btn/big_button_frame.svg" alt=""></a>
            <p class="btn_text_contact">Contact me</p> -->
        </div>
        <div class="content_right">
            <a class="landingpage_email_link" href="mailto:dominikmarnet@hotmail.com">dominikmarnet&#64;hotmail.com</a>
            <a class="github_btn" href="https://github.com/DomuStyle"></a>
            <a class="linkedIn_btn" href="https://de.linkedin.com/"></a>
            <div class="right_stripe"></div>
        </div>
    </div>
    <div class="infinite_scroller">
        <p>Frontend Developer   *   Available for remote work   *   Open to work   *</p>
    </div>
</section>


<app-aboutme></app-aboutme>
<app-skillset></app-skillset>
<app-projects></app-projects>
<app-references></app-references>
<app-contact></app-contact>