section {
    background-image: linear-gradient(45deg, #1c1c1c 50%, #08463B);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infinite_scroller {
    position: absolute;
    top: 750px;
    left: -64px;
    height: 64px;
    width: 120%;
    background-color: rgba($color: #ffffff, $alpha: 0.25);
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    z-index: 1;
    backdrop-filter: blur(1px);
}

h1 {
    font-family: 'Fira_Code';
    font-size: 88px;
    color: white;
    font-weight: 800;
}

h2 {
    font-family: 'Fira_Code';
    font-size: 40px;
    color: white;
    font-weight: lighter; 
}

.landingpage_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.content_left {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.left_stripe {
    width: 2px;
    height: 256px;
    background-color: turquoise;
    position: absolute;
    bottom: 0;
    left: 96px;
}

.content_right {

}