section {
    background-image: linear-gradient(45deg, #1c1c1c 50%, #08463B);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow-x: hidden;
}

.infinite_scroller {
    position: absolute;
    // top: 750px;
    bottom: 40px;
    left: 0px;
    height: 64px;
    width: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.25);
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    z-index: 1;
    backdrop-filter: blur(1px);
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
}
.infinite_scroller p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
    font-family: 'Fira_Code';
    font-size: 32px;
    color: white;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.landingpage_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.landingpage_btns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    >a {
        >img {
            height: 64px;
            width: 196px;
        }
    }
    >.btn_text_projects {
        font-family: 'Fira_Code';
        color: white;
        position: absolute;
        top: 22px;
        left: 36px;
    }
    >.btn_text_contact {
        font-family: 'Fira_Code';
        color: white;
        position: absolute;
        top: 22px;
        left: 278px;
    }
}
.content_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
    height: 50%;
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.arrow_down {
    position: absolute;
    top: 322px;
    animation: bounce 1.5s linear 0s infinite;
}

@keyframes bounce {
    0%, 100% {
        top: 328px;
        left: 50%;
        transform: translateX(-50%);
    }
    50% {
        top: 338px;
        left: 50%;
        transform: translateX(-50%);
    }
    
}
.left_stripe {
    width: 2px;
    height: 256px;
    background-color: #3DCFB6;
    
    
}

.content_right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
    height: 50%;
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.right_stripe {
    width: 2px;
    height: 200px;
    background-color: rgb(252, 252, 252);
}

.landingpage_email_link {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Fira_Code';
    transform: rotate(270deg);
    margin-bottom: 120px;
    &hover {
        color: #08463B;
    }
}