<section id="home"> 
    <div class="landingpage_content">
        <div class="content_left">
            <img src="./../../assets/svg/about_me/arrow_frame_test.svg" alt="">
            <img class="arrow_down" src="./../../assets/svg/about_me/arrow_down.svg" alt="">
            <div class="left_stripe"></div>
        </div>
        <div class="landingpage_content_center">
            <h2>Frontend Developer</h2> 
            <h1>Dominik Marnet</h1>
            <div class="landingpage_center_btns">
                <div class="center_btn">
                    <a class="projects_link" href="#projects">Check my work</a>
                </div>
                <div class="center_btn">
                    <a class="contact_link" href="#contact">Contact me</a>
                </div>
            </div>
        </div>
        <div class="content_right">
            <a class="landingpage_email_link" href="mailto:dominikmarnet@hotmail.com">dominikmarnet&#64;hotmail.com</a>
            <a class="github_btn" href="https://github.com/DomuStyle"></a>
            <a class="linkedIn_btn" href="https://de.linkedin.com/"></a>
            <div class="right_stripe"></div>
        </div>
    </div>
    <div class="infinite_scroller">
        <div class="infinite_scroller_inner">
            <p>Frontend Developer</p>
            <div class="green_dot"></div>
            <p>Available for remote work</p>
            <div class="green_dot"></div>
            <p>Open to work</p>
            <div class="green_dot"></div>
            <p>Frontend Developer</p>
            <div class="green_dot"></div>
            <p>Available for remote work</p>
            <div class="green_dot"></div>
            <p>Open to work</p>
            <div class="green_dot"></div>
            <p>Frontend Developer</p>
            <div class="green_dot"></div>
            <p>Available for remote work</p>
            <div class="green_dot"></div>
            <p>Open to work</p>
            <div class="green_dot"></div>
            <p>Frontend Developer</p>
            <div class="green_dot"></div>
            <p>Available for remote work</p>
            <div class="green_dot"></div>
            <p>Open to work</p>
            <div class="green_dot"></div>
        </div>
    </div>
</section>


<app-aboutme></app-aboutme>
<app-skillset></app-skillset>
<app-projects></app-projects>
<!-- <app-projectdetails></app-projectdetails> -->
<!-- <app-references></app-references> -->
<app-contact></app-contact>