<section>
    <div class="references-outer">
        <div class="reference-card">
            <div class="references-top">
                <p class="color_white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Mollitia aliquid voluptatum natus cumque ad repudiandae ipsum <br>
                    exercitationem optio sit voluptates ipsa aliquam, <br>
                    commodi nesciunt eligendi minima iste tempore sint aperiam?
                </p>
            </div>
            <div class="references-bottom">
                <div class="references-bottom-line"></div>
                <p class="references-author">A.Fischer - Frontend Developer</p>
            </div>
        </div>
    </div>
</section>
