<section>
    <div class="privacypolicy_content">
        <h1>Privacy policy</h1>
        <div class="privacypolicy_frame">
            <h3 class="color_turqoise">Imprint and <br>Privacy Declaration.</h3>
            <h2 class="color_white">Contactinformation</h2>
            <p class="color_white">Dominik Marnet<br>Saarbrückenstraße 157<br>24113 Kiel<br>Tel: 0151/28342102<br>eMail: dominikmarnet&#64;hotmail.de</p>
            <h3 class="color_turqoise">Privacy Declaration</h3>
            <h2 class="color_white">1. Privacy at a Glance.</h2>
            <div class="privacypolicy_section">
                <p class="color_white"><strong>General Notices:</strong>
                    <br>These following tidings do provide a simple overview of that which doth befall thy personal data upon thy visit to this website.
                    <br>Personal data is all manner of information whereby thou mayst be individually discerned.
                    <br>For full discourse upon the matter of privacy, thou mayst refer to our Privacy Declaration set forth beneath this text.
                    <br><strong>Data Gathering upon this Website:</strong>
                    <br>Whom beareth responsibility for the gathering of data upon this website?
                    <br>The processing of data upon this website is conducted by the keeper of the site.
                    <br>Their means of contact may be found in the section ‘Notice unto the Responsible Place’ within this Privacy Declaration.
                    <br><strong>How do we gather thy data? Thy data is gathered in two manners:</strong>
                    <br>first, by that which thou dost willingly provide—such as the information thou dost enter into a form of contact.
                    <br>Secondly, other data is captured automatically or upon thy consent when thou dost visit the website, collected by our IT systems.
                    <br>These chiefly include technical data (such as thine internet browser, operating system, or time of access to the page).
                    <br>The gathering of such data is performed without action, upon thine entry to this website.
                    <br>Unto what end do we use thy data? Some of this data is gathered to assure the proper and faultless provision of the website.
                    <br> Other data may be employed to analyze thine usage of this site. If contracts may be forged or initiated upon the website,
                    <br>the transmitted data shall also be processed for contractual offerings, orders, or other requests of commission.
                    <br>What rights hast thou regarding thy data? Thou hast at all times the right to request without charge knowledge of the origin, recipient, and purpose of thy personal data stored herein.
                    <br>Likewise, thou mayst demand correction or deletion of such data. If thou hast granted consent unto the processing of data, thou mayst revoke such consent at any time forthwith.
                    <br>Moreover, thou hast the right to demand, under certain conditions, the limitation of processing upon thy personal data.
                    <br>Additionally, a right of grievance doth belong to thee, which may be filed with the appropriate overseeing authority.
                    <br>For these matters or any further queries regarding privacy, thou mayst contact us at any time.
                    <br></p>
            </div>
            <h2>2. Hosting</h2>
            <div class="privacypolicy_section">
                <p class="color_white">
                    <br>We do host the contents of our website with the following provider: All-Inkl. The provider is ALL-INKL.COM - Neue Medien Münnich, Master René Münnich, Hauptstraße 68, 02742 Friedersdorf (henceforth called All-Inkl).
                    <br>Full details may be found within the Privacy Declaration of All-Inkl: https://all-inkl.com/datenschutzinformationen/.
                    <br>The use of All-Inkl doth rest upon the foundation of Article 6, Section 1, Letter f of the General Data Protection Regulation (GDPR).
                    <br>We do hold a rightful interest in the most steadfast and reliable presentation of our website.
                    <br>If consent hath been requested for processing, such processing shall take place solely upon the foundation of Article 6, Section 1, Letter a of GDPR and § 25, Section 1 of TDDDG,
                    <br>insofar as the consent doth encompass the storing of cookies or the gaining of access unto information within the user’s device (such as device fingerprinting)
                    <br>within the meaning of TDDDG. This consent may at any time be revoked.
                    <br></p>
            </div>
            <h2>3. General Tidings and Mandated Informations.</h2>
            <div class="privacypolicy_section">
                <p class="color_white">
                    <br><strong>Privacy:</strong> 
                    <br>The keepers of these pages do take with great solemnity the safeguard of thy personal data.
                    <br>We treat thy private information with the utmost discretion and in accordance with the lawful statutes of data protection, as well as this Privacy Declaration.
                    <br> When thou dost use this website, various personal data shall be gathered.
                    <br>Personal data is all manner of information whereby thou mayst be individually discerned.
                    <br>This Privacy Declaration doth explain which data we gather and unto what purpose it is employed.
                    <br>It also doth expound upon how and for what end such processing doth occur.
                    <br>We do hereby give warning that the transmission of data upon the vast reaches of the internet (such as in discourse via email) may be subject to certain vulnerabilities.
                    <br>A full and impenetrable safeguard against the gaze of third parties cannot be wholly assured.
                    <br>Notice unto the Responsible Place:
                    <br>The responsible keeper for the processing of data upon this website is:
                    <br>Dominik Marnet
                    <br>Saarbrücken Str. 157
                    <br>24113 Kiel
                    <br>Phone: +49 151 28342102
                    <br>Email: dominikmarnet&#64;hotmail.de
                    <br>A responsible keeper is that natural or lawful person who, alone or in company with others, doth determine the purpose and means of processing personal data (such as names, emails, and suchlike).
                    <br>Duration of Storage:
                    <br>Unless a more particular duration of storage be named within this Privacy Declaration, thy personal data shall remain with us until the purpose for which it was gathered doth no longer exist.
                    <br>Shouldst thou make a rightful request for deletion, or withdraw thy consent unto data processing, thy data shall be erased, save where other lawful reasons do necessitate its continued storage (such as obligations of tax or commerce).
                    <br>In such a case, deletion shall ensue upon the passing of such lawful conditions.
                    <br>General Notices upon the Lawful Foundations of Data Processing upon this Website:
                    <br>Shouldst thou have granted consent unto data processing, we do process thy personal data upon the foundation of Article 6, Section 1, Letter a of the General Data Protection Regulation (GDPR), or Article 9, Section 2, Letter a GDPR, where certain categories of data under Article 9, Section 1 GDPR be processed.
                    <br>In cases where explicit consent hath been granted unto the transmission of personal data unto foreign lands, such processing shall likewise be upon the foundation of Article 49, Section 1, Letter a GDPR. If thou hast consented unto the storing of cookies or the gaining of access unto thy device (such as device fingerprinting), such data processing shall further rest upon the foundation of § 25, Section 1 of TDDDG.
                    <br>Thy consent may be revoked at any time.
                    <br>Should thy data be necessary for the fulfillment of contract, or for pre-contractual measures, we do process it upon the foundation of Article 6, Section 1, Letter b GDPR. Likewise, if processing be required to meet a lawful obligation, it shall be founded upon Article 6, Section 1, Letter c GDPR.
                    <br>Additionally, processing may occur upon the foundation of our rightful interest, in accordance with Article 6, Section 1, Letter f GDPR.
                    <br>Unto the precise lawful foundation for individual cases, further enlightenment shall be given within the ensuing paragraphs of this Privacy Declaration.
                    <br>Recipients of Personal Data: Upon the course of our trade, we do engage with various external parties.
                    <br>In certain instances, the transmission of personal data unto these parties may be necessary. 
                    <br>We do grant such data unto external entities only if this be required for the fulfillment of contract, if we be lawfully bound to such transmission (such as the provision of data unto the tax authorities), if we do hold a rightful interest under Article 6, Section 1, Letter f GDPR, or if another lawful foundation doth allow such transmission.
                    <br>Section 1, Letter f GDPR, or if another lawful foundation doth allow such transmission.
                    <br>Where we do employ processors of commission, we do transmit personal data of our patrons only upon the foundation of a binding contract for commissioned processing.
                    <br>In cases of joint processing, a contract for shared processing shall be forged.
                    <br></p>
            </div>
            <h2>4. Gathering of Data upon this Website.</h2>
            <div class="privacypolicy_section">
                <p class="color_white">
                    <br>Contact Form:
                    <br>Shouldst thou send unto us inquiries by way of the contact form, all thy particulars as entered therein—together with the details of contact thou hast provided—shall be stored with us for the purpose of handling thy request, and for any follow-up queries that may arise.
                    <br>Such data shall not be disclosed unto others without thy consent.
                    <br>The processing of such data is undertaken upon the foundation of Article 6, Section 1, Letter b of GDPR, insofar as thy request doth pertain unto the fulfillment of a contract or is required for pre-contractual measures.
                    <br>In all other cases, processing doth rest upon our rightful interest in the efficient handling of queries directed unto us (Article 6, Section 1, Letter f GDPR), or upon thy consent (Article 6, Section 1, Letter a GDPR), if such consent hath been sought.
                    <br>This consent may be revoked at any time.
                    <br>The data thou dost enter within the contact form shall remain with us until such time as thou dost command its deletion, revoke thy consent unto its storage, or the purpose for data retention doth cease (such as upon the completion of processing thy inquiry).
                    <br>Obligations mandated by law—especially those concerning the preservation of records—shall remain unaffected.
                    <br>Inquiry by Email, Telephone, or Facsimile:
                    <br>Shouldst thou reach us by way of email, telephone, or facsimile, thy request—together with all personal data thereby conveyed (such as thy name and inquiry)—shall be stored and processed for the purpose of attending unto thy concern.
                    <br>Such data shall not be disclosed unto others without thy consent.
                    <br>The processing of such data is undertaken upon the foundation of Article 6, Section 1, Letter b of GDPR, insofar as thy request doth pertain unto the fulfillment of a contract or is required for pre-contractual measures.
                    <br>In all other cases, processing doth rest upon our rightful interest in the efficient handling of queries directed unto us (Article 6, Section 1, Letter f GDPR), or upon thy consent (Article 6, Section 1, Letter a GDPR), if such consent hath been sought.
                    <br>This consent may be revoked at any time.
                    <br>The data thou dost transmit unto us through inquiries shall remain with us until such time as thou dost command its deletion, revoke thy consent unto its storage, or the purpose for data retention doth cease (such as upon the completion of handling thy concern). 
                    <br>Obligations mandated by law—especially those concerning the preservation of records—shall remain unaffected.
                    <br>
                    <br></p>
            </div>
        </div>
    </div>
</section>
