@import './../../../styles.scss';
@import './../../../styles/mixins.scss';

.privacypolicy_content {
    @include dFlex($jc: center, $ai: center);
    flex-direction: column;
    background-image: linear-gradient(45deg, #1c1c1c 50%, #08463B);
    height: 100vh;
    padding-top: 170px;
    padding-bottom: 64px;
    white-space: pre-line;
}

.privacypolicy_frame {
    @include dFlex($jc: flex-start, $ai: center);
    flex-direction: column;
    padding: 24px;
    height: 90%;
    width: 85%;
    background-color: rgba($color: #08463B, $alpha: 0.5);
    border-radius: 24px;
    border: 2px solid #3DCFB6;
    // overflow-y: scroll;
    text-align: center;

    overflow-y: auto; /* Keep scrollable */

        /* Webkit (Chrome, Safari, Edge) scrollbar styles */
         &::-webkit-scrollbar {
            width: 6px; /* Makes the scrollbar thin */
            height: 128px;
        }

        &::-webkit-scrollbar-track {
            background: transparent; /* Keeps the track invisible */
            margin-top: 16px; /* Shortens the track from the top */
            margin-bottom: 16px; /* Shortens the track from the bottom */
        }

        &::-webkit-scrollbar-thumb {
            background: #3DCFB6; /* Matches the border color */
            border-radius: 3px; /* Rounds the edges slightly for a sleek look */
        }

        &::-webkit-scrollbar-thumb:hover {
            background: lighten(#3DCFB6, 10%); /* Slightly lighter on hover for feedback */
        }

        /* Firefox scrollbar styles */
        scrollbar-width: thin; /* Makes the scrollbar thin in Firefox */
        scrollbar-color: #3DCFB6 transparent; /* Thumb color matches border, track is transparent */
}

.privacypolicy_section {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 64px;
    margin-bottom: 64px;
}

h2 {
    @include font($ff: 'Fira_Code', $fs: 56px, $fw: 700);
    margin-bottom: 32px;
    margin-top: 32px;
}

h3 {
    @include font($ff: 'Karla', $fs: 60px, $fw: 700);
    padding-top: 40px;
}

p {
    @include font($ff: 'Karla', $fs: 24px, $fw: 700);
}

b {
    margin-bottom: 24px;
}

@media (max-width: 880px) {

    h2 {
        font-size: 40px;
    }

    .privacypolicy_frame {
        width: 70%;
    }
}

@media (max-width: 730px) {

    h3 {
        font-size: 48px;
    }

    p {
        font-size: 20px;
    }

    .privacypolicy_frame {
        width: 70%;
    }
}

@media (max-width: 655px) {

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

@media (max-width: 545px) {
    
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 370px) {
    
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
}