<section>
    <div class="privacypolicy_content">
        <h1>{{ 'privacy-policy.title' | translate }}</h1>
        <div class="privacypolicy_frame">
            <h2 class="color_white">{{ 'privacy-policy.contact-title' | translate }}</h2>
            <p class="color_white">{{ 'privacy-policy.contact-info' | translate }}</p>
            <h3 class="color_turqoise">{{ 'privacy-policy.data-protection' | translate }}</h3>
            <h2 class="color_white">{{ 'privacy-policy.text1-title' | translate }}</h2>
            <div class="privacypolicy_section">
                <p class="color_white">{{ 'privacy-policy.text1' | translate }}</p>
            </div>
            <h2>{{ 'privacy-policy.text2-title' | translate }}</h2>
            <div class="privacypolicy_section">
                <p class="color_white">{{ 'privacy-policy.text2' | translate }}</p>
            </div>
            <h2>{{ 'privacy-policy.text3-title' | translate }}</h2>
            <div class="privacypolicy_section">
                <p class="color_white">{{ 'privacy-policy.text3' | translate }}</p>
            </div>
            <h2>{{ 'privacy-policy.text4-title' | translate }}</h2>
            <div class="privacypolicy_section">
                <p class="color_white">{{ 'privacy-policy.text4' | translate }}</p>
            </div>
        </div>
    </div>
</section>
