<nav>
    <div class="header_content">
        <div class="nav_left">
            <span alt="german_english_switch_button"></span>
            <a class="nav_about_me" href="#about_me"></a>
            <a class="nav_skills" href="#skills"></a>
            <a class="nav_projects" href="#projects"></a>
        
        </div>
        <div class="nav_right">
            <span alt="logo_image"><img src="./../../../assets/svg/nav/name_logo/name_logo_dm.png" alt=""></span>
        </div>
    </div>
</nav>


<!-- <nav>
    <div class="header_content">
        <div class="nav_left">
            <span alt="german_english_switch_button"></span>
            <div class="nav-link">
                <a class="nav_about_me" href="#about_me"></a>
                <div class="green_dot"></div>
            </div>
            <div class="nav-link">
                <a class="nav_skills" href="#skills"></a>
                <div class="green_dot"></div>
            </div>
            <div class="nav-link">
                <a class="nav_projects" href="#projects"></a>
                <div class="green_dot"></div>
            </div>
        </div>
        <div class="nav_right">
            <span alt="logo_image"><img src="./../../../assets/svg/nav/name_logo/name_logo_dm.png" alt=""></span>
        </div>
    </div>
</nav> -->