nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-image: linear-gradient(180deg, black, transparent);
    position: absolute;
    width: 100%;
    top: 0;
}

img {
    padding-left: 16px;
}

.nav_about_me {
    // height: 80px;
    background-image: url('./../../../assets/svg/nav/section_btn/about_me.svg');
    background-repeat: no-repeat;
    height: 34px;
    width: 82px;
    margin-left: 24px;
    &:hover {
        background-image: url('./../../../assets/svg/nav/section_btn/about_me_hover.svg');
    }
}

.nav_skills {
    background-image: url('./../../../assets/svg/nav/section_btn/skills.svg');
    background-repeat: no-repeat;
    height: 34px;
    width: 82px;
    margin-left: 40px;
    &:hover {
        background-image: url('./../../../assets/svg/nav/section_btn/skills_hover.svg');
    }
}

.nav_projects {
    background-image: url('./../../../assets/svg/nav/section_btn/projects.svg');
    background-repeat: no-repeat;
    height: 34px;
    width: 82px;
    margin-left: 24px;
    &:hover {
        background-image: url('./../../../assets/svg/nav/section_btn/projects_hover.svg');
    }
}

.nav_left {
    padding-left: 64px;
    padding-top: 32px;
    display: flex;
    justify-content: center;
    >span {
        width: 96px;
        padding-left: 8px;
        background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_de_on1.svg');
        background-repeat: no-repeat;
        background-color: transparent; 
        &:hover {
            background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_de_on_hover.svg');
            cursor: pointer;
        }
    }
    >a {
        padding-left: 8px;
    }
}

.nav_right {
    padding-right: 64px;
    padding-top: 32px;
    >span {
        height: 50px;
        width: 132px;
        background-image: url('./../../../assets/svg/nav/name_logo/name_logo.svg');
        background-repeat: no-repeat;
        background-color: transparent;
        &:hover { 
            background-image: url('./../../../assets/svg/nav/name_logo/name_logo_hover.png');
        }
    }
}