@import "./../../../styles/mixins.scss";

nav {
    @include dFlex($jc: space-between, $ai: flex-start);
    background-image: linear-gradient(180deg, black, transparent);
    position: absolute;
    width: 100%;
    top: 0;
    // padding: 0 calc(max(200px,(100vw - 1440px) / 2));
    // max-width: 1440px;
}

.header_content {
    @include dFlex($jc: space-between, $ai: flex-start);
    padding: 0 calc(max(80px,(100% - 1440px) / 2));
    max-width: 1440px;
    width: 100%;
}

.nav_about_me {
    // height: 80px;
    background-image: url('./../../../assets/svg/nav/section_btn/about_me.svg');
    background-repeat: no-repeat;
    height: 34px;
    width: 82px;
    margin-left: 24px;
    &:hover {
        background-image: url('./../../../assets/svg/nav/section_btn/about_me_hover.svg');
    }
    &:active {
        background-image: url('./../../../assets/svg/nav/section_btn/about_me_selected.svg');
    }
}

.nav_skills {
    background-image: url('./../../../assets/svg/nav/section_btn/skills.svg');
    background-repeat: no-repeat;
    height: 34px;
    width: 82px;
    margin-left: 40px;
    &:hover {
        background-image: url('./../../../assets/svg/nav/section_btn/skills_hover.svg');
    }
    &:active {
        background-image: url('./../../../assets/svg/nav/section_btn/skills_selected.svg');
    }
}

.nav_projects {
    background-image: url('./../../../assets/svg/nav/section_btn/projects.svg');
    background-repeat: no-repeat;
    height: 34px;
    width: 82px;
    margin-left: 24px;
    &:hover {
        background-image: url('./../../../assets/svg/nav/section_btn/projects_hover.svg');
    }
    &:active {
        background-image: url('./../../../assets/svg/nav/section_btn/projects_selected.svg');
    }
}

.nav_left {
    // @include dFlex($jc: center, $ai: center);
    padding-top: 32px;
    display: flex;
    justify-content: center;
    >span {
        width: 96px;
        padding-left: 8px;
        background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_de_on1.svg');
        background-repeat: no-repeat;
        background-color: transparent; 
        &:hover {
            background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_de_on_hover.svg');
            cursor: pointer;
        }
    }
    >a {
        padding-left: 8px;
    }
}

.nav_right {
    padding-top: 32px;
    >span {
        width: 132px;
        // background-image: url('./../../../assets/svg/nav/name_logo/name_logo_dm.png');
        background-repeat: no-repeat;
        // background-color: transparent;
        >img {
            height: 96px;
            width: 256px;
        }
        &:hover { 
                filter: drop-shadow(1px 1px 0 white)
                drop-shadow(-1px -1px 0 white);
                // filter: drop-shadow(1px 1px 0 white) 
                // drop-shadow(-1px -1px 0 white);
        }

        // &:hover img{ 
        //         opacity: 0.1;
        // }
    }
}

.burger-menu {
    display: none;
    height: 48px;
    width: 48px;
    background-image: url('./../../../assets/svg/nav/btn/bruger_btn.svg');

    &:hover {
        background-image: url('./../../../assets/svg/nav/btn/bruger_btn_hover.svg');
    }
}

.mobile_logo {
    height: 96px;
    display: none;
}

@media (max-width: 920px) {
    img {
        display: none;
    }  
    
    .burger-menu {
        display: block;
    }

    .nav_about_me {
        display: none;
    }

    .nav_skills {
        display: none;
    }

    .nav_projects {
        display: none;
    }

    .mobile_logo {
        display: block;
    }

    .lang_btn {
        display: none;
    }
    
}