<nav>
    <div class="nav_left">
        <img src="./../../assets/svg/nav/lang_btn/lang_btn_de_on1.svg" alt="Lang_switch_img">
        <a href=""><img src="./../../assets/svg/nav/section_btn/about_me.svg" alt=""></a>
        <a href=""><img src="./../../assets/svg/nav/section_btn/skills.svg" alt=""></a>
        <a href=""><img src="./../../assets/svg/nav/section_btn/projects.svg" alt=""></a>  
    </div>
    <div class="nav_right">
        <img src="./../../assets/svg/nav/name_logo/name_logo.svg" alt="name_logo_img">
    </div>
</nav>
