@import "./../../../styles/mixins.scss";

nav {
    @include dFlex($jc: space-between, $ai: flex-start);
    background-image: linear-gradient(180deg, black, transparent);
    position: absolute;
    width: 100%;
    top: 0;
}

.header_content {
    @include dFlex($jc: space-between, $ai: flex-start);
    padding: 0 calc(max(80px,(100% - 1440px) / 2));
    max-width: 1440px;
    width: 100%;
}

.nav_about_me {
    @include dFlex($jc: flex-start, $ai: center);
    flex-direction: column;
    @include font($ff: 'Fira_Code', $fw: 400);
    font-size: 20px;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
    height: 42px;
    width: 165px;
    margin-left: 24px;
    &:hover .nav_dot{
        display: block;
    }
    &:active .nav_dot{
        background-color: white;
    }
}

.nav_skills {
    @include dFlex($jc: flex-start, $ai: center);
    flex-direction: column;
    @include font($ff: 'Fira_Code', $fw: 400);
    font-size: 20px;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
    height: 42px;
    width: 70px;
    &:hover .nav_dot{
        display: block;
    }
    &:active .nav_dot{
        background-color: white;
    }
}

.nav_projects {
    @include dFlex($jc: flex-start, $ai: center);
    flex-direction: column;
    @include font($ff: 'Fira_Code', $fw: 400);
    font-size: 20px;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
    height: 42px;
    width: 82px;
    margin-left: 32px;
    &:hover .nav_dot{
        display: block;
    }
    &:active .nav_dot{
        background-color: white;
    }
}

.nav_dot {
    display: none;
    align-items: center;
    background-color: #3DCFB6; 
    height: 7px;
    width: 7px;
    border-radius: 3.5px;
    margin-top: 8px;
}

.nav_left {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    >a {
        padding-left: 8px;
    }
}

.nav_right {
    padding-top: 32px;
    >a {
        width: 132px;
        background-repeat: no-repeat;
        >img {
            height: 96px;
            width: 256px;
        }
        &:hover { 
                filter: drop-shadow(1px 1px 0 white)
                drop-shadow(-1px -1px 0 white);
        }
    }
}

.burger-menu {
    display: none;
    height: 48px;
    width: 48px;
    background-image: url('./../../../assets/svg/nav/btn/bruger_btn.svg');

    &:hover {
        background-image: url('./../../../assets/svg/nav/btn/bruger_btn_hover.svg');
    }

    &:active {
        background-image: url('./../../../assets/svg/nav/btn/bruger_btn_hover.svg');
    }
}

.mobile_logo {
    height: 96px;
    display: none;
}

.inner_burger {
    @include dFlex($jc: center, $ai: center, $g: 24px);
    flex-direction: column;
    height: 100%;
}

.burger_about_me {
    background-image: url('./../../../assets/svg/nav/section_btn/about_me.svg');
    background-repeat: no-repeat;
    height: 34px;
    width: 96px;
    &:hover {
        background-image: url('./../../../assets/svg/nav/section_btn/about_me_hover.svg');
    }
    &:active {
        background-image: url('./../../../assets/svg/nav/section_btn/about_me_selected.svg');
    }
}

.burger_skills {
    background-image: url('./../../../assets/svg/nav/section_btn/skills.svg');
    background-repeat: no-repeat;
    height: 34px;
    width: 96px;
    &:hover {
        background-image: url('./../../../assets/svg/nav/section_btn/skills_hover.svg');
    }
    &:active {
        background-image: url('./../../../assets/svg/nav/section_btn/skills_selected.svg');
    }
}

.burger_projects {
    background-image: url('./../../../assets/svg/nav/section_btn/projects.svg');
    background-repeat: no-repeat;
    height: 34px;
    width: 96px;
    &:hover {
        background-image: url('./../../../assets/svg/nav/section_btn/projects_hover.svg');
    }
    &:active {
        background-image: url('./../../../assets/svg/nav/section_btn/projects_selected.svg');
    }
}

.lang_btn {
    width: 96px;
    padding-left: 8px;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    
    &.lang-btn-de-on {
      background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_de_on1.svg');
      &:hover {
        background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_de_on_hover.svg');
      }
    }
    
    &.lang-btn-en-on {
      background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_eng_on1.svg');
      &:hover {
        background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_eng_on_hover.svg');
      }
    }
  }

.burger_lang_btn {
    background-repeat: no-repeat;
    height: 34px;
    width: 96px;
    cursor: pointer;
    
    &.burger-lang-btn-de-on {
      background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_de_on1.svg');
      &:hover {
        background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_de_on_hover.svg');
      }
    }
    
    &.burger-lang-btn-en-on {
      background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_eng_on1.svg');
      &:hover {
        background-image: url('./../../../assets/svg/nav/lang_btn/lang_btn_eng_on_hover.svg');
      }
    }
  }

.toggleOff-container {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.25);
    top: 0;
    right: 0;
    z-index: 15;
  }

.header-overlay {
    height: 252px;
    width: 238px;
    background-image: linear-gradient(45deg, #1c1c1c 50%, #08463B);
    border-radius: 24px;
    border: 2px solid #3DCFB6;
    position: absolute;
    top: 80px;
    right: 40px;
}

@media (max-width: 920px) {

    .header_content {
        padding: 0 calc(max(40px,(100% - 1440px) / 2));
    }

    img {
        display: none;
    }  
    
    .burger-menu {
        display: block;
    }

    .nav_about_me {
        display: none;
    }

    .nav_skills {
        display: none;
    }

    .nav_projects {
        display: none;
    }

    .mobile_logo {
        display: block;
    }

    .lang_btn {
        display: none;
    }
    
}