@import "./../../styles/mixins.scss";

section {
    // padding-top: 196px;
    // padding-bottom: 196px;
    background-color: #1c1c1c;
    height: 100vh;
}

.about_me_content {
    @include dFlex($jc: center, $ai: flex-start, $g: 124px);
    height: 100%;
    padding: 0 calc(max(80px,(100% - 1440px) / 2));
    padding-bottom: 64px;
}

.about_me_left {
    @include dFlex($jc: flex-start, $ai: flex-start);
    padding-top: 160px;
    position: relative;
    height: 100%;

    &:hover .about_me_stripes {
        transform: translate(-30px, 30px);
    }
}

.about_me_img {
    border-radius:  30px;
    filter: grayscale(100%);
    
    &:hover {
        filter: grayscale(0%);
        cursor: pointer;
    }
}

.about_me_stripes {
    position: absolute;
    top: 160;
    left: 0;
    border-radius: 30px;
    transform: translate(0px, 0px);
    transition: transform 0.25s linear;
}

.about_me_right {
    padding-top: 160px;
    height: 100%;
}

.about_me_frame {
    @include dFlex($jc: flex-start, $ai: flex-start);
    flex-direction: column;
    padding: 24px;
    height: 568px;
    width: 520px;
    max-width: 568px;
    background-color: rgba($color: #08463B, $alpha: 0.5);
    border-radius: 24px;
    border: 2px solid #3DCFB6;

    >p {
        color: white;
        font-family: 'Karla';
        padding-bottom: 32px;
    }

    >.about_me_location {
        @include dFlex($jc: center, $ai: flex-start);
        gap: 8px;
        padding-top: 16px;

        p {
            @include font($ff: 'Karla', $fw: 400);
            color: rgba($color: #FFFFFF, $alpha: 0.8);
            &:hover {
                color: white;
            }
        }
    }
    >.aboutme_smart {
        @include dFlex($jc: center, $ai: flex-start);
        gap: 13px;
        padding-top: 16px;
        p {
            @include font($ff: 'Karla', $fw: 400);
            color: rgba($color: #FFFFFF, $alpha: 0.8);
            &:hover {
                color: white;
            }
        }
    }
    >.aboutme_checkmark {
        @include dFlex($jc: center, $ai: flex-start);
        gap: 13px;
        padding-top: 16px;
        p {
            @include font($ff: 'Karla', $fw: 400);
            color: rgba($color: #FFFFFF, $alpha: 0.8);
            &:hover {
                color: white;
            }
        }
    }
}

@media (max-width: 1370px) {
    .about_me_content {
        padding: 0 calc(max(40px,(100% - 1440px) / 2));
        gap: 40px;
    }

    .about_me_right {
        margin-left: 0px;
    }
}

@media (max-width: 1275px) {
    
    section {
        height: auto;
    }

    h3 {
       font-size: 40px; 
       padding-bottom: 0px;
    }

    .about_me_content {
        @include dFlex($jc: center, $ai: center);
        flex-direction: column;
        gap: 64px;
    }

    .overlay_right_btn{
        width: 100%;
    }

    .about_me_left {
        padding-top: 96px;
    }

    .about_me_img {
        height: 480px;
        width: 480px;
    }

    .about_me_stripes {
        height: 480px;
        width: 480px;
    }

    .about_me_right {
        padding-top: 0;
        margin-bottom: 64px;
        height: auto;
        width: auto;
    }

    .about_me_frame {
        height: auto;
        width: 456px;

        >p {
            padding-bottom: 16px;
        }

        >div {
            padding-top: 4px;
        }
    }
}

@media (max-width: 640px) {

    .about_me_content {
        padding-top: 32px;
    }

    h3 {

    }
    
    .about_me_left {
        padding-top: 64px;
    }

    .about_me_img {
        height: 358px;
        width: 358px;
    }

    .about_me_stripes {
        height: 358px;
        width: 358px;
    }

    .about_me_frame {
        width: 322px;
    }
}

@media (max-width: 440px) {
    .about_me_img {
        height: 280px;
        width: 280px;
    }

    .about_me_stripes {
        height: 280px;
        width: 280px;
    }

    .about_me_frame {
        width: 240px;
    }
}
