@import "./../../styles/mixins.scss";

section {
    // padding-top: 196px;
    // padding-bottom: 196px;
    background-color: #1c1c1c;
    
    
    height: 100vh;
    
    >.about_me_content {
        @include dFlex($jc: space-between, $ai: flex-start);
        height: 100%;
        padding: 0 calc(max(80px,(100% - 1440px) / 2));
        >.about_me_left {
            @include dFlex($jc: flex-start, $ai: flex-start);
            padding-bottom: 160px;
            position: relative;
            >.about_me_img {
                filter: grayscale(100%);
                &:hover {
                    filter: grayscale(0%);
                    cursor: pointer;
                }
            }

            >.about_me_stripes {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(0px, 0px);
                transition: transform 0.25s linear;
            }

            &:hover .about_me_stripes {
                transform: translate(-30px, 30px);
            }
        }

        >.about_me_right {
            padding-top: 160px;
            margin-left: 128px;
        }
    }
}

// .about_me_left {
//     &:hover .about_me_stripes {
//         transform: translate(594px, 30px);
//     } 
// }



.about_me_frame {
    @include dFlex($jc: flex-start, $ai: flex-start);
    flex-direction: column;
    padding: 24px;
    height: 50%;
    width: 65%;
    background-color: rgba($color: #08463B, $alpha: 0.5);
    border-radius: 24px;
    border: 2px solid #3DCFB6;
    >p {
        color: white;
        font-family: 'Karla';
        padding-bottom: 32px;
    }
    >.aboutme_location {
        @include dFlex($jc: center, $ai: flex-start);
        gap: 8px;
        padding-top: 16px;
        p {
            color: rgba($color: #FFFFFF, $alpha: 0.8);
            font-family: 'Karla';
            &:hover {
                color: white;
            }
        }
    }
    >.aboutme_smart {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 13px;
        padding-top: 16px;
        p {
            color: rgba($color: #FFFFFF, $alpha: 0.8);
            font-family: 'Karla';
            &:hover {
                color: white;
            }
        }
    }
    >.aboutme_checkmark {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 13px;
        padding-top: 16px;
        p {
            color: rgba($color: #FFFFFF, $alpha: 0.8);
            font-family: 'Karla';
            &:hover {
                color: white;
            }
        }
    }
}

@media (max-width: 600px) {
    
}