<section id="about_me" class="about_me_section">
    <div class="about_me_content">
        <Div class="about_me_left">
            <!-- <img class="about_me_stripes" src="./../../assets/svg/about_me/about_me_stripes.svg" alt=""> -->
            <img class="about_me_img" src="./../../assets/img/about_me/about_me_img.png" alt="">
        </Div>
        <div class="about_me_right">
            <h4>{{ 'about-me.title' | translate }}</h4>
            <div class="about_me_frame">
                <h3>{{ 'about-me.frame-title' | translate }}</h3>
                <p>
                    {{ 'about-me.about-me-text1' | translate }}
                </p>
                <div class="aboutme_location">
                    <img src="./../../assets/svg/about_me/locate_icon.svg" alt="">
                    <p>{{ 'about-me.location-text' | translate }}</p>
                </div>
                <div class="aboutme_smart">
                    <img src="./../../assets/svg/about_me/smart_icon.svg" alt="">
                    <p>{{ 'about-me.mindset-text' | translate }}</p>
                </div>
                <div class="aboutme_checkmark">
                    <img src="./../../assets/svg/about_me/checkmark_icon.svg" alt="">
                    <p>
                        {{ 'about-me.profession-text' | translate }}
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
