<section id="projects" class="portfolio_section">
    <div class="projects_content">
        <h4>Portfolio</h4>
        <h3>Featured Projects</h3>
    
        <p>Explore a selection of my work here - interact with <br> projects to see my skills in action.</p>
        <div class="large_seperator"></div>   
        <div class="project">
            <h5 class="color_white">Join</h5>
            <div class="project_tools">
                <p class="color_white">Angular</p><span class="green_seperator"></span>
                <p class="color_white">TypeScript</p><span class="green_seperator"></span>
                <p class="color_white">HTML</p><span class="green_seperator"></span>
                <p class="color_white">CSS</p><span class="green_seperator"></span>
                <p class="color_white">Firebase</p>
            </div>
            <div class="project_popup">
                <img class="project_img" src="./../../assets/svg/projects/join_snapshot.svg" alt="">
                <img class="project_background" src="./../../assets/svg/projects/project_stripes_background.svg" alt="">
            </div>
        </div>
        <div class="large_seperator"></div>   
        <div class="project">
            <h5 class="color_white">El Pollo Loco</h5>
            <div class="project_tools">
                <p class="color_white">HTML</p><span class="green_seperator"></span>
                <p class="color_white">CSS</p><span class="green_seperator"></span>
                <p class="color_white">JavaScript</p>
            </div>
            <div class="project_popup">
                <img class="project_img" src="./../../assets/svg/projects/el_pollo_loco_snapshot.svg" alt="">
                <img class="project_background" src="./../../assets/svg/projects/project_stripes_background.svg" alt="">
            </div>
        </div>
        <div class="large_seperator"></div>   
        <div class="project">
            <h5 class="color_white">Pokedex</h5>
            <div class="project_tools">
                <p class="color_white">HTML</p><span class="green_seperator"></span>
                <p class="color_white">CSS</p><span class="green_seperator"></span>
                <p class="color_white">JavaScript</p><span class="green_seperator"></span>
                <p class="color_white">Poke-API</p>
            </div>
            <div class="project_popup">
                <img class="project_img" src="./../../assets/svg/projects/join_snapshot.svg" alt="">
                <img class="project_background" src="./../../assets/svg/projects/project_stripes_background.svg" alt="">
            </div>
        </div>  
        <div class="portfolio_seperator"></div> 
    </div>  
</section>
