<section id="projects" class="portfolio_section">
    <div class="projects_content">
        <h4>{{ 'portfolio.title' | translate }}</h4>
        <h3>{{ 'portfolio.title2' | translate }}</h3>
        <div class="projects_text">
          <p>{{ 'portfolio.text' | translate }}</p>
        </div>
        <div class="large_seperator"></div>   
        <a class="project" (click)="openOverlay(projects[0])">
            <h5 class="color_white">{{projects[0].title}}</h5>
            <div class="project_tools">
                <p class="color_white">{{projects[0].technologies[0]}}</p><span class="green_seperator"></span>
                <p class="color_white">{{projects[0].technologies[1]}}</p><span class="green_seperator"></span>
                <p class="color_white">{{projects[0].technologies[2]}}</p><span class="green_seperator"></span>
                <p class="color_white">{{projects[0].technologies[3]}}</p>
            </div>
            <div class="project_popup">
                <img class="project_img" src="./../../assets/svg/projects/join_snapshot.svg" alt="">
                <img class="project_background" src="/assets/svg/projects/project_stripes_background.svg" alt="">
            </div>   
        </a>
        <div class="large_seperator"></div>   
        <a class="project" (click)="openOverlay(projects[1])">
            <h5 class="color_white">{{projects[1].title}}</h5>
            <div class="project_tools">
                <p class="color_white">{{projects[1].technologies[0]}}</p><span class="green_seperator"></span>
                <p class="color_white">{{projects[1].technologies[1]}}</p><span class="green_seperator"></span>
                <p class="color_white">{{projects[1].technologies[2]}}</p>
            </div>
            <div class="project_popup">
                <img class="project_img" src="/assets/svg/projects/el_pollo_loco_snapshot.svg" alt="">
                <img class="project_background" src="/assets/svg/projects/project_stripes_background.svg" alt="">
            </div>
        </a>
        <div class="large_seperator"></div>   
        <a class="project" (click)="openOverlay(projects[2])">
            <h5 class="color_white">{{projects[2].title}}</h5>
            <div class="project_tools">
                <p class="color_white">{{projects[2].technologies[0]}}</p><span class="green_seperator"></span>
                <p class="color_white">{{projects[2].technologies[1]}}</p><span class="green_seperator"></span>
                <p class="color_white">{{projects[2].technologies[2]}}</p><span class="green_seperator"></span>
                <p class="color_white">{{projects[2].technologies[3]}}</p>
            </div>
            <div class="project_popup">
                <img class="project_img" src="/assets/svg/projects/join_snapshot.svg" alt="">
                <img class="project_background" src="/assets/svg/projects/project_stripes_background.svg" alt="">
            </div>
        </a>  
        <div class="portfolio_seperator"></div> 
    </div>
      
  <!-- Overlay that appears when a project is selected -->
  @if (selectedProject) {
    <div class="overlay">
      <div class="overlay-content">
        <div class="overlay-content-left">
          <h1 class="color_turqoise">0{{this.selectedProject.id}}</h1>
          <h3 class="color_white">{{this.selectedProject.title}}</h3>
          <h4 class="color_turqoise">Whats is this Project about?</h4>
          <p class="color_white">{{selectedProject.description | translate}}</p>
          <div class="overlay-technologies">
            @for (tech of selectedProject.technologies; track $index) {
              <div class="tech-item">
                <img 
                  [src]="selectedProject.techImgs ? selectedProject.techImgs[$index] : ''" 
                  [alt]="tech + ' logo'" 
                  class="overlay-tech-logo" 
                  *ngIf="selectedProject.techImgs && selectedProject.techImgs[$index]"
                >
                <span class="color_white">{{tech}}</span>
              </div>
            }
          </div>
            <div class="overlay-content-btns">
              <div class="overlay-btn">
                <a class="color_white" [href]="selectedProject.gitUrl" target="_blank">GitHub</a>
                <img class="btn-arrow" src="./../../assets/img/overlay/overlay-btn-arrow-ru.svg" alt="">
              </div>
              <div class="overlay-btn">
                <a class="color_white" [href]="selectedProject.openProjectUrl" target="_blank">Live Project</a>
                <img class="btn-arrow" src="./../../assets/img/overlay/overlay-btn-arrow-ru.svg" alt="">
              </div>
            </div>
        </div>
        <div class="overlay-content-right">
          <a class="overlay-close-btn" (click)="closeOverlay()"></a>
          <img [src]="selectedProject.img" alt="{{selectedProject.title}}" class="large-image">
          <div class="next-project-btn" (click)="nextProject()">
            <a class="color_turqoise">Next project</a>
            <div class="next-btn-arrow"></div>
          </div>
        </div>
      </div>
    </div>
  }
</section>
