@import "./../../styles/mixins.scss";

h1 {
    @include font($ff: 'Karla', $fs: 128px, $fw: 700);
}

h3 {
    @include font($ff: 'Fira_Code', $fs: 64px, $fw: 700);
}

h4 {
    @include font($ff: 'Fira_Code', $fs: 24px, $fw: 700);
}

.projects_content {
    @include dFlex($jc: center, $ai: flex-start);
    flex-direction: column;
    background-color: #1c1c1c;
    height: 100vh;
    padding: 0 calc(max(80px,(100% - 1440px) / 2));
}

.portfolio_seperator {
    height: 2px;
    width: 60%;
    background-color: #3DCFB6;
}

.projects_text {
    @include font($ff: 'Karla', $fs: 18px, $fw: 400);
        color: white;
        padding-bottom: 32px;
        width: 60%;
}

.project_tools {
    @include dFlex($jc: space-evenly, $ai: flex-start);
    flex-direction: row;
    

    >p {
        @include font($ff: 'Karla', $fs: 18px, $fw: 400);
    }
}

.project {
    @include dFlex($jc: space-between, $ai: flex-start);
    width: 60%;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    text-decoration: none;
    &:hover {
        background-color: rgba($color: #08463B, $alpha: 0.5);
        cursor: pointer;
    }
}

.project_popup {
    position: absolute;
    top: -40px;
    right: -400px;
    display: none;
}

.project_img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.project_background {
    position: absolute;
    top: 24px;
    right: -24px;
}

.project:hover .project_popup {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    // overflow: hidden; /* Prevent overflow from affecting the body */
}
.overlay-content {
    @include dFlex($jc: space-between, $ai: flex-start);
    position: fixed;
    top: 10%;
    left: 10%;
    width: 75%;
    max-height: 80vh; /* Limit height to fit within viewport */
    // height: auto;
    background-image: linear-gradient(45deg, #1c1c1c 50%, #08463B);
    border-radius: 24px;
    border: 2px solid #3DCFB6;
    padding: 64px 40px;
    z-index: 4;
    // overflow-y: auto; /* Enable vertical scrolling within overlay */
}

/* Ensure content doesn't overflow unnecessarily */
.overlay-content-left,
.overlay-content-right {
  flex-shrink: 0; /* Prevent shrinking beyond content size */
}

.large-image {
    border-radius: 20px;
}

.overlay-tech-logo {
    height: 24px;
    width: 24px;
    margin-right: 16px;
}

.tech-item {
    @include dFlex($jc: center, $ai: center);
}

.overlay-content-left {
    @include dFlex($jc: center, $ai: flex-start, $g: 24px);
    flex-direction: column;
    height: 100%;
    width: 45%;

    >p {
        @include font($ff: 'Karla', $fs: 18px, $fw: 400);
    }
}

.overlay-technologies {
    @include dFlex($jc: center, $ai: flex-start, $g: 24px);
    @include font($ff: 'Karla', $fs: 16px, $fw: 400);
    width: 60%;
    margin-top: 32px;

    >span {
        margin-right: 16px;
    }
}

.overlay-content-right {
    @include dFlex($jc: center, $ai: flex-end, $g: 24px);
    flex-direction: column;
    height: 100%;
    width: 55%;
}

.overlay_right_btn {
    @include dFlex($jc: center, $ai: flex-end);
}

.overlay-close-btn {
    height: 48px;
    width: 48px;
    background-image: url('./../../assets/img/overlay/overlay-close-btn.svg');
        
        &:hover {
            background-image: url('./../../assets/img/overlay/overlay-close-btn-hover.svg');
        }
}

.overlay-content-btns {
    @include dFlex($jc: flex-start, $ai: center, $g: 40px);
    width: 100%;
    margin-top: 32px;
}

// .overlay-btn {
//     @include dFlex($jc: center, $ai: center);
//     height: 64px;
//     width: 180px;
//     border: 2px solid #ffffff;
//     border-radius: 32px;
//     border-color: #ffffff;
//     transition: border-color 1.75s;
//     scrollbar-width: none;
    

//     &:hover {
//                     border-color: #3DCFB6;
//                 }

//     &:hover .btn-arrow{
//                     -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
// 	                        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
//                 }

//     >a {
//         text-decoration: none;
//         margin-right: 8px;
//     }

//     >img {
//         height: 20px;
//         width: 20px;
//     }
// }

.overlay-btn {
    @include dFlex($jc: center, $ai: center);
    height: 64px;
    width: 180px;
    border: 2px solid #ffffff;
    border-radius: 32px;
    border-color: #ffffff;
    transition: border-color 1.75s;
    scrollbar-width: none;

    &:hover {
        border-color: #3DCFB6;
    }

    &:hover .btn-arrow {
        -webkit-animation: slide-up-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        animation: slide-up-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    >a {
        text-decoration: none;
        margin-right: 8px;
    }

    >img {
        height: 20px;
        width: 20px;
    }
}

@keyframes slide-up-right {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(10px) translateY(-10px);
    }
}

.next-project-btn {
    @include dFlex($jc: center, $ai: center);
    margin-right: 16px;
    transition: transform 0s;

    >a {
        @include font($ff: 'Karla', $fs: 18px, $fw: 400); 
    }

    &:hover {
        cursor: pointer;
    }

    &:hover .next-btn-arrow {
        animation: jump-right 0.8s infinite ease-in-out;
    }
}

@keyframes jump-right {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(16px);
    }
}

.next-project-mobile-btn {
    display: none;
    margin-right: 16px;
    width: 100%;
    transition: transform 0s;

    >a {
        @include font($ff: 'Karla', $fs: 18px, $fw: 400); 
    }

    &:hover {
        cursor: pointer;
    }

    &:hover .next-btn-arrow {
        animation: jump-right 0.8s infinite ease-in-out;
    }
}

.next-btn-arrow {
    height: 40px;
    width: 40px;
    background-image: url('./../../assets/svg/nav/arrow-right.svg');
}

@media (max-width: 1285px) {

    h1 {
        @include font($ff: 'Karla', $fs: 72px, $fw: 700);
        height: 72px;
    }

    h3 {
        @include font($ff: 'Fira_Code', $fs: 56px, $fw: 700);
        padding-bottom: 4px;
    }

    h4 {
        @include font($ff: 'Fira_Code', $fs: 20px, $fw: 700);
        padding-bottom: 4px;
    }

    .projects_content {
        padding: 0 calc(max(40px,(100% - 1440px) / 2));
    }

    .overlay-content {
        @include dFlex($jc: space-between, $ai: center);
        flex-direction: column-reverse;
        width: 75%;
        top: 5%;
        left: 12%;
        padding: 16px 8px;
        max-height: 85vh; /* Maintain height limit */
        overflow-y: auto; /* Keep scrollable */

        /* Webkit (Chrome, Safari, Edge) scrollbar styles */
         &::-webkit-scrollbar {
            width: 6px; /* Makes the scrollbar thin */
            height: 128px;
        }

        &::-webkit-scrollbar-track {
            background: transparent; /* Keeps the track invisible */
            margin-top: 16px; /* Shortens the track from the top */
            margin-bottom: 16px; /* Shortens the track from the bottom */
        }

        &::-webkit-scrollbar-thumb {
            background: #3DCFB6; /* Matches the border color */
            border-radius: 3px; /* Rounds the edges slightly for a sleek look */
        }

        &::-webkit-scrollbar-thumb:hover {
            background: lighten(#3DCFB6, 10%); /* Slightly lighter on hover for feedback */
        }

        /* Firefox scrollbar styles */
        scrollbar-width: thin; /* Makes the scrollbar thin in Firefox */
        scrollbar-color: #3DCFB6 transparent; /* Thumb color matches border, track is transparent */
    }

    .large-image {
        height: 280px;
        margin-bottom: 16px;
    }

    .next-project-btn {
        display: none;
    }

    .next-project-mobile-btn {
        @include dFlex($jc: flex-end, $ai: center);
    }

    .overlay-content-left {
        @include dFlex($jc: center, $ai: flex-start, $g: 8px);
        width: 55%;
    }

    .overlay-technologies {
        @include dFlex($jc: center, $ai: flex-start, $g: 12px);
        flex-wrap: wrap;
        margin-top: 8px;
    }

    .overlay-tech-logo {
        height: 20px;
        width: 20px;
        margin-right: 8px;
    }
    .overlay-content-right {
        @include dFlex($jc: center, $ai: center, $g: 12px);
        width: 100%;
    }
}

@media (max-width: 1080px) {

    .project_img {
        position: absolute;
        top: 0px;
        right: 40px;
    }

    .project_background {
        position: absolute;
        top: 24px;
        right: 12px;
    }
}

@media (max-width: 940px) {

    .project {
        @include dFlex($jc: space-between, $ai: flex-start);
        flex-direction: column;
    }

    .project_img {
        position: absolute;
        top: 0px;
        right: 64px;
    }

    .project_background {
        position: absolute;
        top: 24px;
        right: 40px;
    }
}

@media (max-width: 900px) {

    .project {
        @include dFlex($jc: space-between, $ai: flex-start, $g: 16px);
        flex-direction: column;
        width: 100%;
    }

    .large_seperator {
        width: 100%;
    }

    .portfolio_seperator {
        width: 100%;
    }

    .project_img {
        display: none;
    }

    .project_background {
        display: none;
    }
}

@media (max-width: 900px) {

    .projects_content {
        padding-top: 64px;
    }

    h3 {
        font-size: 48px;
    }

    .project_tools {
        @include dFlex($jc: flex-start, $ai: flex-start);
        flex-wrap: wrap;
    }

    .projects_text {
        width: 100%;
    }
}