section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #1c1c1c;
    height: 100vh;
    padding-left: 100px;

    >p {
        color: white;
        font-size: 18px;
        font-family: 'Karla';
        padding-bottom: 32px;
    }

    >.portfolio_seperator {
        height: 2px;
        width: 840px;
        background-color: #3DCFB6;
    }
}

.project_tools {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    >p {
        font-family: 'Karla';
        font-size: 18px;
    }
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 840px;
    padding-top: 32px;
    padding-bottom: 32px;
    &:hover {
        background-color: rgba($color: #08463B, $alpha: 0.5);
    }
}