<section id="contact" class="contact_section">
    <div class="contact_content">
        <div class="contact_left">
            <h4>Contact me</h4>
            <h3>Let's work<br>togheter</h3>
            <h5 class="color_turqoise">Got a problem to solve?</h5>
            <p class="color_white">
                Contact me through this form, 
                i am interested in hearing from you, 
                knowing <br>your ideas and contributing to your projects with my work.
            </p>
            <div class="positioning_box">
                <p class="color_white">Need a Frontend developer?</p><p class="color_turqoise">Let's talk!</p>
            </div>
        </div>
        <div class="contact_right">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm ="ngForm" >
                <div class="contact_container">
                    <div class="large_seperator"></div>
                    <h4 class="color_turqoise">What's your name?</h4>
                    <input minlength="3" [(ngModel)]="contactData.name" id="name" name="name" placeholder="Your name goes here" required>
                </div>
                <div class="contact_container">
                    <div class="large_darkgreen_seperator"></div>
                    <h4 class="color_turqoise">What's your email?</h4>
                    <input [(ngModel)]="contactData.email" id="email" name="email" placeholder="youremail@email.com" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                </div>
                <div class="contact_container">
                    <div class="large_darkgreen_seperator"></div>
                    <h4 class="color_turqoise">How can i help you??</h4>
                    <textarea #message = "ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Hello Dominik, i am interested in ..." required></textarea>
                    @if (!message.valid && message.touched && !message.disabled) {
                        <span>Please enter a message!</span>
                    }
                </div>
                <div class="large_darkgreen_seperator"></div>
                <div class="policy_checkbox">
                    <input type="checkbox">
                    <p class="color_white">I've read the<a class="color_turqoise">privacy policy</a> and agree to the processing of my data as outlined.</p>
                </div>
                <div class="submit_btn">
                    <input type="submit" value="Say Hello ;">
                </div>
            </form>
        </div>
    </div>
</section>
