@import "./../../styles/mixins.scss";

.contact_content {
    @include dFlex($jc: space-between, $ai: center);
    gap: 60px;
    height: 100vh;
    background-color: #1c1c1c;
    padding: 0 calc(max(80px,(100% - 1440px) / 2));
}

.contact_left {
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
    max-width: 40%;

>p {
    @include font($ff: 'Karla', $fs: 18px, $fw: 400);
    padding-bottom: 32px;
}

>h5 {
    padding-bottom: 32px;
}

>.positioning_box {
    @include dFlex($jc: flex-start, $ai: center);
    @include font($ff: 'Karla', $fs: 18px, $fw: 400);
    gap: 8px;
    padding-bottom: 32px;
}  

}
.contact_right {
    @include dFlex($jc: center, $ai: center);
    max-width: 45%;

form {
    >.contact_container {
        &:hover {
            cursor: pointer;
        }
        >h4 {
            padding-top: 40px;
            padding-bottom: 16px;
            padding-left: 32px;
        }
    }
}

input[type=text], [type=email], select, textarea {
    @include font($ff: 'Karla', $fs: 24px, $fw: 400);
    width: 390px;
    margin-bottom: 40px;
    border: none; /* Remove border */
    outline: none; /* Remove focus outline */
    background-color: #1c1c1c;
    margin-left: 32px;
    color: #ffffff;
}

#name,
#email {
    @include font($ff: 'Karla', $fs: 24px, $fw: 400);
    margin-left: 32px;
    margin-bottom: 40px;
    background-color: #1c1c1c;
    border: none;
}

.policy_checkbox {
    @include dFlex($jc: flex-start, $ai: center);
    padding-top: 32px;
    // padding-left: 32px;
    >input {
        height: 20px;
        width: 20px;
        margin-right: 16px;
        border: 2px solid #08463B;
        background: #1c1c1c;
        color: #1c1c1c;
    }
    >input::placeholder {
        color: #ffffff;
    }
}

input::placeholder, textarea::placeholder {
    color: #ffffff; /* Default color */
    word-wrap: break-word;
}
  
input.ng-invalid.ng-touched::placeholder, textarea.ng-invalid.ng-touched::placeholder {
    color: #ff5555; /* Red for invalid state */
}

/* Added: Maintain background color on focus */
input:focus {
    background-color: #1c1c1c;
    outline: none; /* Ensure no outline appears */
}

.contact_right_bottom {
    @include dFlex($jc: center, $ai: center);
    width: 100%;
}
}

.submit_btn {
    @include dFlex($jc: space-evenly, $ai: center);
    height: 64px;
    width: 180px;
    border: 2px solid #ffffff;
    border-radius: 32px;
    border-color: #ffffff;
    transition: border-color 1.75s;
    overflow: hidden;
    margin-top: 40px;
    scrollbar-width: none;

    &:hover {
        cursor: pointer;
        border-color: #3DCFB6;
    }
    
    >input[type=submit] {
        box-sizing: border-box;
        border: none; /* Remove border */
        outline: none; /* Remove focus outline */
        color: white;
        cursor: pointer;
        background-color: transparent;
    }

    >input::placeholder {
        color: #ffffff;
    }    
}

input {
    @include font($ff: 'Fira_Code', $fs: 18px, $fw: 400);
    border: none; /* Remove border */
    outline: none; /* Remove focus outline */
    background-color: #1c1c1c;
    align-content: center;
    width: 440px;
    scrollbar-width: none;
    color: #ffffff;
}

input::-webkit-scrollbar {
    display: none;
}

#email {
    background-color: #1c1c1c;
}

.large_green_seperator {
    width: 100%;
}

.contact_container {
    width: 100%;

    &:hover .contact_seperator {
        background-color: #3DCFB6;
    }
}

.upper_contact_seperator {
    height: 2px;
    width: 100%;
    background-color: #3DCFB6;
}

.contact_seperator {
    height: 2px;
    width: 100%;
    background-color: #08463B;
}

.error_message {
    color: #ff5555; 
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    margin-top: 8px;
    padding-left: 32px;
}

.success_message {
    color: #3DCFB6; 
}

@media (max-width: 1080px) {
    
    .contact_content {
        flex-direction: column;
        height: auto;
        padding-bottom: 64px;
    }

    .contact_left {
        max-width: 60%;
    }

    .contact_right {
        max-width: 65%;
    }
}

@media (max-width: 870px) {

    h3 {
        word-wrap: break-word;
    }
    
    .contact_content {
        padding: 0 calc(max(40px,(100% - 1440px) / 2));
        padding-bottom: 64px;
    }

    .contact_left {
        max-width: 75%;
    }

    .contact_right {
        max-width: 65%;
    }
}

@media (max-width: 530px) {

    h3 {
        font-size: 48px;
        word-wrap: break-word;
    }
    
    .contact_content {
        padding-bottom: 64px;
    }

    .contact_left {
        max-width: 75%;
    }

    .contact_right {
        max-width: 65%;
    }

    input {
        width: 320px;
    }

    textarea {
        width: 320px;
    }
}

@media (max-width: 530px) {

    #message {
        width: 90%;
    }

    .upper_contact_seperator,
    .contact_seperator {
        width: 90%;
    }

    .contact_right {
        max-width: 90%;
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    h3 {
        font-size: 40px;
        word-wrap: break-word;
    }

    .positioning_box {
        flex-direction: column;
    }

    #message,
    #name,
    #email {
        width: 90%;
        @include font($ff: 'Karla', $fs: 16px, $fw: 400);
    }

    #name::placeholder {
        @include font($ff: 'Karla', $fs: 16px, $fw: 400);
    }

    #email::placeholder {
        @include font($ff: 'Karla', $fs: 16px, $fw: 400);

    }

    input[type=text], [type=email], select, textarea {
        @include font($ff: 'Karla', $fs: 16px, $fw: 400);
    }

    .upper_contact_seperator,
    .contact_seperator {
        width: 90%;
    }
}