<section class="projects_detail_overlay">
    <div class="project_details_content">
        <div class="project_details_left">
            <h1 class="color_turqoise">01</h1>
            <h3 class="color_white">Join</h3>
            <h5 class="color_turqoise">What is this project about?</h5>
            <p class="color_white">This App is a Slack Clone App. it revolutionizes team<br> 
                communication and collaboration with its intuitive<br> 
                interface, real-time messaging, and robust channel<br>
                organization.</p>
            
            <div class="overlay_tech_icons">
                <div class="tech_icon">
                    <img src="./../../assets/svg/projects/overlay/css_small.svg" alt="">
                    <p class="color_white">CSS</p>
                </div>
                <div class="tech_icon">
                    <img src="./../../assets/svg/projects/overlay/html_small.svg" alt="">
                    <p class="color_white">HTML</p>
                </div>
                <div class="tech_icon">
                    <img src="./../../assets/svg/projects/overlay/firebase_small.svg" alt="">
                    <p class="color_white">Firebase</p>
                </div>
                <div class="tech_icon">
                    <img src="./../../assets/svg/projects/overlay/angular_small.svg" alt="">
                    <p class="color_white">Angular</p>
                </div>
                <div class="tech_icon">
                    <img src="./../../assets/svg/projects/overlay/typescript_small.svg" alt="">
                    <p class="color_white">TypesScript</p>
                </div>
            </div>
            <div class="overlay_link_btns">
                <a href=""></a>
                <img src="" alt="">
            </div>
        </div>
        <div class="project_details_right">
            <a class="close_btn_container" href="">
                <img src="./../../assets/svg/projects/overlay/x_small_icon.svg" alt="">
            </a>
            <img src="./../../assets/img/projects/join_priject_l.png" alt="">
            <div class="next_btn_container">
                <p class="color_turqoise">Next project</p>
                <img src="./../../assets/svg/projects/overlay/overlay_arrow_white.svg" alt="">
            </div>
        </div>
    </div>
</section>
