/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    scroll-behavior: smooth;
    // overflow-x: hidden;
}

.color_white {
    color: white;
}

.color_turqoise {
    color: #3DCFB6;
}

h1 {
    font-family: 'Karla';
    font-size: 116px;
    color: white;
    font-weight: 600;
    padding-right: 64px;
    text-align: center;
}

h2 {
    font-family: 'Fira_Code';
    font-size: 40px;
    color: white;
    font-weight: lighter; 
}

h3 {
    font-family: 'Fira_Code';
    font-size: 64px;
    color: #3DCFB6;
    font-weight: 600;
    padding-bottom: 24px;
}


h4 {
    font-family: 'Karla';
    font-size: 24px;
    color: #3DCFB6;
    font-weight: 400;
    padding-bottom: 16px;
}

h5 {
    font-family: 'Fira_Code';
    font-size: 29px;
}

.large_seperator {
    height: 2px;
    width: 60%;
    background-color: #3DCFB6;
}

.large_darkgreen_seperator {
    height: 2px;
    width: 840px;
    background-color: #08463B;
}

.green_seperator {
    height: 18px;
    width: 2px;
    background-color: #3DCFB6;
    margin-left: 8px;
    margin-right: 8px;
}

.green_dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #3DCFB6;
}

/* Fira_Code */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira_Code';
    font-style: normal;
    font-weight: 200;
    src: url('./assets/fonts/fira_code/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira_Code';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/fira_code/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira_Code';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/fira_code/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira_Code';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/fira_code/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira_Code';
    font-style: normal;
    font-weight: lighter;
    src: url('./assets/fonts/fira_code/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: lighter;
    src: url('./assets/fonts/fira_code/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 200;
    src: url('./assets/fonts/fira_code/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}