section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: radial-gradient(farthest-corner at -10% 55%, #08463B, #1c1c1c 35%);
    height: 100vh;
    overflow-x: hidden;
    gap: 128px;
    // background-image: url('./../../assets/img/skillset/skillset_bg.svg');
    >div {
        >h4 {
            margin-left: 120px;
            margin-top: 120px;
        }
    }
}

// .skillset_section {
//     background-image: url('./../../assets/img/skillset/skillset_bg.svg');
// }

.technologies_frame {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 120px;
    // margin-top: 160px;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
    height: 568px;
    width: 568px;
    background-color: rgba($color: #08463B, $alpha: 0.5);
    border-radius: 24px;
    border: 2px solid #3DCFB6;
    >p {
        color: white;
        font-family: 'Fira_Code';
    }
}

.skills_title {
    font-family: 'Fira_Code';
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 24px;
}

.skillset_contact_btn {
    padding-top: 32px;
    position: relative;
}

.skillset_right {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 120px;
    margin-top: 140px;
    >.skillset_icon {
        >a {
            >img {
                height: 140px;
                &:hover {
                    transform: scale(0.95);
                }
            }
        }
    }
    
}

.contact_link {
    height: 64px;
    width: 180px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Fira_Code';
    text-align: center;
    align-content: center;
    border: 2px solid #ffffff;
    border-radius: 32px;
    border-color: #ffffff;
    transition: border-color 1.75s;
    &:hover {
        border-color: #3DCFB6;
    }
}
w
.growth_mindset {
    &:hover {
        transform: scale(0.95);
    }
}

.growth_mindset_popup {
    display: block;
}

.growth_mindset:hover ~ .growth_mindset_popup {
    display: block;
}