.skillset_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: radial-gradient(farthest-corner at -10% 55%, #08463B, #1c1c1c 35%);
    height: 100vh;
    overflow-x: hidden;
    gap: 128px;
    padding: 0 calc(max(80px,(100% - 1440px) / 2));
    >div {
        >h4 {
            margin-left: 120px;
            margin-top: 120px;
        }
    }
}

.technologies_frame {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
    height: 568px;
    width: 568px;
    background-color: rgba($color: #08463B, $alpha: 0.5);
    border-radius: 24px;
    border: 2px solid #3DCFB6;
    >p {
        color: white;
        font-family: 'Fira_Code';
        font-size: 18px;
    }
}

.skills_title {
    font-family: 'Fira_Code';
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 24px;
}

.skillset_contact_btn {
    padding-top: 32px;
    position: relative;
}

.skillset_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    row-gap: 80px;
    column-gap: 40px;
    flex-wrap: wrap;
    color: white;
    font-family: 'Fira_Code';
    padding-top: 32px;
    >.skill_icon {
        width: 20%;
        >img {
            height: 60px;
            &:hover {
                transform: scale(1.05);
            }
        }
        >p {
            font-size: 18px;
        }   
    }
    >.skill_growth_icon {
        position: relative;
        >p {
            font-size: 18px;
        }
        >.skill_growth_popup {
            position: absolute;
            bottom: 90px;
            left: -20px;
            z-index: 0;
        }
        >img {
            &:hover {
                transform: scale(1.05);
            }
        }
        
    }
    
    
}

.contact_link {
    height: 64px;
    width: 180px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Fira_Code';
    text-align: center;
    align-content: center;
    border: 2px solid #ffffff;
    border-radius: 32px;
    border-color: #ffffff;
    transition: border-color 1.75s;
    &:hover {
        border-color: #3DCFB6;
    }
}

.growth_mindset {
    &:hover {
        transform: scale(0.95);
    }
}

.skill_growth_popup {
    display: none;
}

.skill_growth_icon:hover  .skill_growth_popup {
    display: block;
}