<section id="skills" class="skillset_section">
    <div class="skillset_content">
        <div class="skillset_left">
            <h4>{{ 'skillSet.title' | translate }}</h4>
            <span class="technologies_frame">
                <h3>{{ 'skillSet.frame-title' | translate }}</h3>
                <p>{{ 'skillSet.text1' | translate }}</p>
                    <div class="skills_title">
                        <h5 class="skills_title1 color_white ">{{ 'skillSet.frame-title2-first' | translate }}</h5><h5 class="skills_title2 color_turqoise">{{ 'skillSet.frame-title2-second' | translate }}</h5>
                    </div>
                    <p>{{ 'skillSet.text2' | translate }}</p>
                    <div class="skillset_contact_btn">
                        <a class="contact_link" href="#contact">{{ 'skillSet.button-text' | translate }}</a>
                    </div>
            </span>
        </div>
        <div class="skillset_right">
            <div class="skillset_collection">
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/html_icon.svg" alt="">
                    <p>HTML</p>
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/css_icon.svg" alt="">
                    <p>CSS</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/js_icon.svg" alt="">
                    <p>JavaScript</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/materialdesign_icon.svg" alt="">
                    <p>Material<br>Design</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/ts_icon.svg" alt="">
                    <p>TypeScript</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/angular_icon.svg" alt="">
                    <p>Angular</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/firebase_icon.svg" alt="">
                    <p>Firebase</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/git_icon.svg" alt="">
                    <p>GIT</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/rest-api_icon.svg" alt="">
                    <p>Rest-Api</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/scrum_icon.svg" alt="">
                    <p>Scrum</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/django.svg" alt="">
                    <p>Django</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/drf.svg" alt="">
                    <p>DRF</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/python.svg" alt="">
                    <p>Python</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/docker.svg" alt="">
                    <p>Docker</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/linux.svg" alt="">
                    <p>Linux</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/shell-scripting.svg" alt="">
                    <p>Shell Scripting</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/postgre_sql.svg" alt="">
                    <p>PostgreSQL</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/sql.svg" alt="">
                    <p>SQL</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/redis.svg" alt="">
                    <p>Redis</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/heroku.svg" alt="">
                    <p>Heroku</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/flask.svg" alt="">
                    <p>Flask</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/yaml.svg" alt="">
                    <p>YAML</p>        
                </div>
                <div class="skill_icon">
                    <img src="./../../assets/svg/skillset/rx_js.svg" alt="">
                    <p>RxJs</p>        
                </div>
                <div class="skill_growth_icon">
                    <img src="./../../assets/svg/skillset/growth_mindset_icon.svg" alt="">
                    <p>Growth<br>mindset</p>
                    <img class="skill_growth_popup" src="./../../assets/svg/skillset/react_vue-js_pop-bubble.svg" alt="">             
                </div>
            </div>   
        </div>
    </div>

</section>
