<section class="skillset_section">
    <div class="skillset_left">
        <h4>Technologies</h4>
        <span class="technologies_frame">
            <h3>Skill Set</h3>
            <p>
                My journey has involved working on diverse projects, 
                employing a range of frontend technologies and concepts. 
                <br>I am open to embracing new technologies and methodologies to Continusly enhance
                my skills and stay ahead in the ever-evolving landscape of web-development</p>
                <div class="skills_title">
                    <h5 class="color_white">You need</h5><h5 class="color_turqoise">another skill?</h5>
                </div>
                <p>Feel free to contact me. I look forward to expanding on my previous knowledge</p>
                <div class="skillset_contact_btn"></div>
                <a class="contact_link" href="">Let's talk</a>
                <p></p>


        </span>
    </div>
    <div class="skillset_right">
        <div class="skill_icon">
            <img src="./../../assets/svg/skillset/html_icon.svg" alt="">
            <p>HTML</p>
        </div>
        <div class="skill_icon">
            <img src="./../../assets/svg/skillset/css_icon.svg" alt="">
            <p>CSS</p>        
        </div>
        <div class="skill_icon">
            <img src="./../../assets/svg/skillset/js_icon.svg" alt="">
            <p>JavaScript</p>        
        </div>
        <div class="skill_icon">
            <img src="./../../assets/svg/skillset/materialdesign_icon.svg" alt="">
            <p>Material<br>Design</p>        
        </div>
        <div class="skill_icon">
            <img src="./../../assets/svg/skillset/ts_icon.svg" alt="">
            <p>TypeScript</p>        
        </div>
        <div class="skill_icon">
            <img src="./../../assets/svg/skillset/angular_icon.svg" alt="">
            <p>HTML</p>        
        </div>
        <div class="skill_icon">
            <img src="./../../assets/svg/skillset/firebase_icon.svg" alt="">
            <p>HTML</p>        
        </div>
        <div class="skill_icon">
            <img src="./../../assets/svg/skillset/git_icon.svg" alt="">
            <p>HTML</p>        
        </div>
        <div class="skill_icon">
            <img src="./../../assets/svg/skillset/rest-api_icon.svg" alt="">
            <p>HTML</p>        
        </div>
        <div class="skill_icon">
            <img src="./../../assets/svg/skillset/scrum_icon.svg" alt="">
            <p>HTML</p>        
        </div>
        <div class="skill_icon">
            <img src="./../../assets/svg/skillset/growth_mindset_icon.svg" alt="">
            <p>HTML</p>        
        </div>
        
        
        
        
        
        
        
    </div>

</section>
