<footer>
    <div class="footer_content">
        <div class="footer_left">    
            <a class="logo_link" href="#home"><img src="./../../../assets/svg/nav/name_logo/name_logo_dm.png" alt=""></a>
            <p>Web Developer</p>
            <p>Kiel Germany</p>
        </div>
        <div class="footer_center">
            <p class="color_turqoise">©  Dominik Marnet 2025</p>
        </div>
        <div class="footer_right">
            <a href="https://github.com/DomuStyle" target="_blank" rel="noreferrer noopener">Github</a>
            <a href="https://www.linkedin.com/in/dominik-marnet-4884ba341/" target="_blank" rel="noreferrer noopener">LinkedIn</a>
            <a href="#contact">Email</a>
            <a class="privacypolicy_link" routerLink="/privacypolicy">Legal Notice</a>
        </div>
    </div>
</footer>
