<footer>
        <div class="footer_content">
        <div class="footer_left">    
            <a class="logo_link" href="#home"><img src="./../../../assets/svg/nav/name_logo/name_logo_dm.png" alt=""></a>
            <p>Web Developer</p>
            <p>Kiel Germany</p>
        </div>
        <div class="footer_center">
            <p class="color_turqoise">©  Dominik Marnet 2022</p>
        </div>
        <div class="footer_right">
            <a href="">Github</a>
            <a href="">LinkedIn</a>
            <a href="">Email</a>
            <a href="">Legal Notice</a>
        </div>
    </div>
</footer>
